{{ 'cart-upsell.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart-upsell.js' | asset_url }}" defer="defer"></script>

{%- capture cartItemHandle -%}
  {% for item in cart.items %}
      {{- item.product.handle -}}
        {%- if forloop.last == false -%},{%- endif -%}
  {% endfor %}
{% endcapture %}

{% assign section_default_title = 'upsell.title' | t | append : ' ' | append:  section.settings.product.title  %}

{% if cartItemHandle contains section.settings.product.handle %}
{% assign upsell_product = all_products[section.settings.upsell_product] %}
<div class="cart-upsell__container page-width {% if cartItemHandle contains upsell_product.handle %}hidden{% endif %}">
  <div class="upsell-title__wrapper">
    <h2 class="upsell-title">{{ section.settings.title | default: section_default_title }}</h2>
  </div>
  <table class="upsell_product--table">
    <tbody>
      <tr class="upsell-product__table-row">
        <td class="upsell-product__table-column">
        <a href="{{ upsell_product.url }}">
          {{ upsell_product.featured_image | image_url: width: 150 | image_tag: class: "upsell-product__image" }}
        </a>  
        </td>
        <td class="upsell-product__table-column">
          <div class="upsell-product__title" 
            data-variant-id="{{ upsell_product.selected_or_first_available_variant.id }}">
            <a href="{{ upsell_product.url }}" class="upsell-product__link">
              {{ upsell_product.title }}
            </a>
          </div>
          <div class="upsell-product__price">{{ upsell_product.price | money }}</div>
        </td>
        <td class="upsell-product__table-column">
          <div class="upsell-product__atc--button-wrapper">
            <button class="button button--primary upsell-product__atc--button">
              <span class="upsell-atc__btn--label">
                {%- if upsell_product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                  {{ 'products.product.sold_out' | t }}
                {%- else -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- endif -%}
              </span>
              <span class="loading-overlay__spinner hidden">
                {% render 'icon-loading' %}
              </span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %}

<script>
  window.upsellProduct = '{{ upsell_product.id }}';
  window.upsellVariant = '{{ upsell_product.selected_or_first_available_variant.id }}'
</script>

<style>
  #shopify-section-{{ section.id }} .cart-upsell__container {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
</style>

{% schema %}
{
  "name": "Cart Upsell",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    },
    {
      "type": "header",
      "content": "Section title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "info": "Overwrite default title of section"
    },
        {
      "type": "header",
      "content": "Product"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "product",
      "id": "upsell_product",
      "label": "Product to be upsell"
    }
  ],
  "presets": [
    {
      "name": "Cart Upsell"
    }
  ]
}
{% endschema %}