{{ 'shoppable-lookpage.css' | asset_url | stylesheet_tag }}
<script src="{{ 'lookpage-modal.js' | asset_url }}" defer="defer"></script>

<div class="shoppable-lookpage__wrapper page-width">
  <div class="shoppable-lookpage__title--wrapper">
    <h2 class="shoppable-lookpage__title">{{ section.settings.title }}</h2>
    <div class="shoppable-lookpage__image--container">
      {% for block in section.blocks %}
      <div class="shoppable-lookpage__image--wrapper" data-modal>
        {% if block.settings.image %}
          {{ block.settings.image | image_url: width: 300 | image_tag: loading: "lazy", class: "shoppable_img" }}
        {% else %} 
          {{ "product-1" | placeholder_svg_tag: "placeholder-svg placeholder" }}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% comment %} Modal starts here {% endcomment %}
<div id="shoppable_modal" class="shoppable-modal">
  <div class="shoppable-modal__content">
    <div class="shoppable-modal__body">
      <div class="shoppable-modal__close">&times;</div>
      {% for block in section.blocks %}
      <div class="modal-img__container" data-modal-img-container>
        {% if block.settings.image %}
          {{ block.settings.image | image_url: width: 400 | image_tag: class: "shoppable_img" }}
        {% else %} 
          {{ "product-1" | placeholder_svg_tag: "placeholder-svg placeholder" }}
        {% endif %}
        <div class="modal-product__container">
          <div class="modal-pulse__wrapper pulse-pos_1">
          {% if block.settings.product_1 %}
            {% render 'pulse' %}
            {% render 'modal-product-card' product: block.settings.product_1 %}
          {% endif %}
          </div>
          <div class="modal-pulse__wrapper pulse-pos_2">
          {% if block.settings.product_2 %}
            {% render 'pulse' %}
            {% render 'modal-product-card' product: block.settings.product_2 %}
          {% endif %}
          </div>
          <div class="modal-pulse__wrapper pulse-pos_3">
          {% if block.settings.product_3 %}
            {% render 'pulse' %}
            {% render 'modal-product-card' product: block.settings.product_3 %}
          {% endif %}
          </div>
        </div>
      </div>
      <style>
        .pulse-pos_1 {
          top: {{ block.settings.pulse_top_1 }}%;
          left: {{ block.settings.pulse_left_1 }}%;
        }
        .pulse-pos_2 {
          top: {{ block.settings.pulse_top_2 }}%;
          left: {{ block.settings.pulse_left_2 }}%;
        }
        .pulse-pos_3 {
          top: {{ block.settings.pulse_top_3 }}%;
          left: {{ block.settings.pulse_left_3 }}%;
        }
        .shoppable-lookpage__image--wrapper::after {
          content: '{{ section.settings.cta_label }}';
        }
      </style>
      {% endfor %}
    </div>
  </div>
</div>
{% comment %} Modal ends here {% endcomment %}

{% schema %}
{
  "name": "t:sections.shoppable-lookpgae.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Lookbook"
    },
    {
      "type": "header",
      "content": "CTA"
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "CTA Label",
      "default": "Shop Now"
    }
  ],
  "blocks": [
     {
       "name": "Shoppable Image",
       "type": "Image",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
            "type": "header",
            "content": "Product 1"
         },
         {
           "type": "product",
           "id": "product_1",
           "label": "Product"
         },
         {
           "type": "range",
           "id": "pulse_top_1",
           "label": "Pulse vertical alignment",
           "min": 0,
           "max": 99,
           "default":10,
           "info": "This is in percentage unit"
         },
         {
           "type": "range",
           "id": "pulse_left_1",
           "label": "Pulse horizontal Alignment",
           "min": 0,
           "max": 99,
           "default":10,
           "info": "This is in percentage unit"
         },
         {
            "type": "header",
            "content": "Product 2"
         },
         {
           "type": "product",
           "id": "product_2",
           "label": "Product"
         },
         {
           "type": "range",
           "id": "pulse_top_2",
           "label": "Pulse vertical alignment",
           "min": 0,
           "max": 99,
           "default":20,
           "info": "This is in percentage unit"
         },
         {
           "type": "range",
           "id": "pulse_left_2",
           "label": "Pulse horizontal Alignment",
           "min": 0,
           "max": 99,
           "default":40,
           "info": "This is in percentage unit"
         },
         {
            "type": "header",
            "content": "Product 3"
         },
         {
           "type": "product",
           "id": "product_3",
           "label": "Product"
         },
         {
           "type": "range",
           "id": "pulse_top_3",
           "label": "Pulse vertical alignment",
           "min": 0,
           "max": 99,
           "default":30,
           "info": "This is in percentage unit"
         },
         {
           "type": "range",
           "id": "pulse_left_3",
           "label": "Pulse horizontal Alignment",
           "min": 0,
           "max": 99,
           "default":50,
           "info": "This is in percentage unit"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "t:sections.shoppable-lookpgae.name"
    }
  ]
}
{% endschema %}